.filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 14px;
  
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    border-radius: 50px;
    background-color: $light-gray;
    
    &--active {
      font-weight: 500;
      background-color: $darkGreen;
      color: $light;
    }
  }
}