// Colors
$light: #FFFFFF;
$dark: #333333;
$green: #007C8E;
$darkGreen: #0E3449;
$gray: #8E9AA6;
$light-gray: #E1E5EA;
$gray-transparent: #F2F4F6;
$light-green: #007A8F;


// Fonts
$font-main: 'Jost', sans-serif;


//Width
$laptop: 1439.9;
$laptop-min: 1199.9;
$tablet: 1023.9;
$mobile: 767.9;
$mobileSmall: 424.9;