<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="main-container">
  <%= htmlWebpackPlugin.options.sectionHeader %>
  <main class="main">
    <section class="section">
      <div class="container">
        <div class="breadcrumbs">
          <a class="breadcrumbs__link" href="./">Главная</a>
          <span class="breadcrumbs__curr-page">Работы</span>
        </div>
      </div>
    </section>
    <section class="section mb-95">
      <div class="container">
        <h1 class="title title--page mb-50 mbm-40">Наши работы</h1>
        <div class="filter mb-40">
          <a href="#" class="filter__item filter__item--active">
            <p>Все направления</p>
          </a>
          <a href="#" class="filter__item">
            <p>Хирургия</p>
          </a>
          <a href="#" class="filter__item">
            <p>Протезирование</p>
          </a>
          <a href="#" class="filter__item">
            <p>Терапевтическая стоматология</p>
          </a>
          <a href="#" class="filter__item">
            <p>Детская стоматология</p>
          </a>
          <a href="#" class="filter__item">
            <p>Исправление прикуса</p>
          </a>
          <a href="#" class="filter__item">
            <p>Пародонтология и гигена</p>
          </a>
        </div>
        <div class="columns mb-40">
          <div class="columns__col columns__col--4 columns__col-mob--12">
            <a href="#" class="article-work">
              <picture class="article-work__picture">
                <img src="https://placehold.co/600x400" alt="">
              </picture>
              <h3 class="article-work__title">Восстановление зуба</h3>
            </a>
          </div>
          <div class="columns__col columns__col--4 columns__col-mob--12">
            <a href="#" class="article-work">
              <picture class="article-work__picture">
                <img src="./assets/images/teeth-1.jpg" alt="">
              </picture>
              <h3 class="article-work__title">Восстановление зуба</h3>
            </a>
          </div>
          <div class="columns__col columns__col--4 columns__col-mob--12">
            <a href="#" class="article-work">
              <picture class="article-work__picture">
                <img src="./assets/images/teeth-1.jpg" alt="">
              </picture>
              <h3 class="article-work__title">Восстановление зуба</h3>
            </a>
          </div>
          <div class="columns__col columns__col--4 columns__col-mob--12">
            <a href="#" class="article-work">
              <picture class="article-work__picture">
                <img src="./assets/images/teeth-1.jpg" alt="">
              </picture>
              <h3 class="article-work__title">Восстановление зуба</h3>
            </a>
          </div>
          <div class="columns__col columns__col--4 columns__col-mob--12">
            <a href="#" class="article-work">
              <picture class="article-work__picture">
                <img src="./assets/images/teeth-1.jpg" alt="">
              </picture>
              <h3 class="article-work__title">Восстановление зуба</h3>
            </a>
          </div>
          <div class="columns__col columns__col--4 columns__col-mob--12">
            <a href="#" class="article-work">
              <picture class="article-work__picture">
                <img src="./assets/images/teeth-1.jpg" alt="">
              </picture>
              <h3 class="article-work__title">Восстановление зуба</h3>
            </a>
          </div>
          <div class="columns__col columns__col--4 columns__col-mob--12">
            <a href="#" class="article-work">
              <picture class="article-work__picture">
                <img src="./assets/images/teeth-1.jpg" alt="">
              </picture>
              <h3 class="article-work__title">Восстановление зуба</h3>
            </a>
          </div>
          <div class="columns__col columns__col--4 columns__col-mob--12">
            <a href="#" class="article-work">
              <picture class="article-work__picture">
                <img src="./assets/images/teeth-1.jpg" alt="">
              </picture>
              <h3 class="article-work__title">Восстановление зуба</h3>
            </a>
          </div>
          <div class="columns__col columns__col--4 columns__col-mob--12">
            <a href="#" class="article-work">
              <picture class="article-work__picture">
                <img src="./assets/images/teeth-1.jpg" alt="">
              </picture>
              <h3 class="article-work__title">Восстановление зуба</h3>
            </a>
          </div>
        </div>
        <a href="#" class="button centered">Показать ещё</a>
      </div>
    </section>
    <section class="section mb-80 mbm-75">
      <div class="container">
        <div class="services">
          <h2 class="title mb-40">Подробнее о наших услугах</h2>
          <div class="columns columns--gap-mob-10">
            <div class="columns__col--6 columns__col-tab--6 columns__col-mob--12">
              <div class="services__article" style="background-color: #E0ECF9">
                <picture class="services__picture">
                  <img src="assets/images/cat-1.jpg" alt="">
                </picture>
                <div class="services__title">Пародонтология и гигиена</div>
                <div class="services__info">
                  <p>Разнообразный и богатый опыт рамки и место обучения кадров способствует подготовки и реализации
                    новых предложений.</p>
                </div>
              </div>
            </div>
            <div class="columns__col--3 columns__col-tab--6 columns__col-mob--12">
              <div class="services__article" style="background-color: #F9EFE0">
                <picture class="services__picture">
                  <img src="assets/images/cat-2.jpg" alt="">
                </picture>
                <div class="services__title">Имплантация</div>
                <div class="services__info">
                  <p>Разнообразный и богатый опыт рамки и место обучения кадров способствует </p>
                </div>
              </div>
            </div>
            <div class="columns__col--3 columns__col-tab--6 columns__col-mob--12">
              <div class="services__article" style="background-color: #F6E9E9">
                <picture class="services__picture">
                  <img src="assets/images/cat-3.jpg" alt="">
                </picture>
                <div class="services__title">Протезирование</div>
                <div class="services__info">
                  <p>Разнообразный и богатый опыт рамки и место обучения кадров способствует </p>
                </div>
              </div>
            </div>
            <div class="columns__col--3 columns__col-tab--6 columns__col-mob--12">
              <div class="services__article" style="background-color: #F5E9F6">
                <picture class="services__picture">
                  <img src="assets/images/cat-4.jpg" alt="">
                </picture>
                <div class="services__title">Хирургия</div>
                <div class="services__info">
                  <p>Разнообразный и богатый опыт рамки и место обучения кадров способствует </p>
                </div>
              </div>
            </div>
            <div class="columns__col--3 columns__col-tab--6 columns__col-mob--12">
              <div class="services__article" style="background-color: #F6F6E9">
                <picture class="services__picture">
                  <img src="assets/images/cat-5.jpg" alt="">
                </picture>
                <div class="services__title">Детская стоматология</div>
                <div class="services__info">
                  <p>Разнообразный и богатый опыт рамки и место обучения кадров способствует </p>
                </div>
              </div>
            </div>
            <div class="columns__col--6 columns__col-tab--6 columns__col-mob--12">
              <div class="services__article" style="background-color: #E0E5F9">
                <picture class="services__picture">
                  <img src="assets/images/cat-6.jpg" alt="">
                </picture>
                <div class="services__title">Терапевтическая стоматология</div>
                <div class="services__info">
                  <p>Разнообразный и богатый опыт рамки и место обучения кадров способствует подготовки и реализации
                    новых предложений.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%= htmlWebpackPlugin.options.sectionFooter %>
  <%= htmlWebpackPlugin.options.temp %>
</div>
</body>
</html>
