<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="main-container">
  <%= htmlWebpackPlugin.options.sectionHeader %>
  <main class="main">
    <section class="section">
      <div class="container">
        <div class="breadcrumbs">
          <a class="breadcrumbs__link" href="./">Главная</a>
          <span class="breadcrumbs__curr-page">Работы</span>
        </div>
      </div>
    </section>
    <section class="section mb-95">
      <div class="container">
        <div class="columns mb-40">
          <div class="columns__col--8 columns__col-mob--12">
            <h1 class="title title--page mb-25 mbm-40">Прайс</h1>
            <p class="subtitle">
              В каждой клинике пациент имеет возможность ознакомиться с ценами на оказываемые услуги. Как правило,
              предлагается достаточно обширный прайс-лист, включающий стоимость отдельных позиций. Однако, определить
              итоговую стоимость проведенных работ, и соответственно, сумму лечения, самому пациенту, не знакомому с
              особенностями составления наряда на оказание платной стоматологической помощи, не представляется
              возможным.
              Целью данного подраздела является составление примерного плана лечения по основным направлениям
              деятельности
              нашей клиники. План может быть только примерным, а не окончательным, ввиду особенностей динамически
              меняющегося человеческого организма, состояния иммунитета, реактивности организма и ряда других
              особенностей
              оказания медицинской помощи.
            </p>
          </div>
        </div>
        <div class="columns">
          <div class="columns__col--11 columns__col-mob--12">
            <div class="faq">
              <article class="article-faq" data-toggle>
                <div class="article-faq__header" data-toggle-switch>
                  <p class="article-faq__title">
                    Терапевтическая стоматология
                  </p>
                  <button class="article-faq__button">
                    <svg class="article-faq__icon">
                      <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__body">
                  <div class="article-faq__wrapper">
                    <div class="article-faq__element">
                      <p class="article-faq__head">
                        Лечение ранее не леченых корневых каналов зубов (стоимость указана без Rg исследования и пломбы):
                      </p>
                      <ul class="article-faq__list">
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Одноканальный зуб</span>
                            <span>от 7.300 ₽</span>
                          </a>
                        </li>
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Двухканальный зуб</span>
                            <span>от 9.300 ₽</span>
                          </a>
                        </li>
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Трехканальный зуб</span>
                            <span>от 11.800 ₽</span>
                          </a>
                        </li>
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Четырехканальный зуб</span>
                            <span>от 14.800 ₽</span>
                          </a>
                        </li>
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Пятиканальный зуб</span>
                            <span>от 16.300 ₽</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="article-faq__element">
                      <p class="article-faq__head">
                        Лечение ранее не леченых корневых каналов зубов (стоимость указана без Rg исследования и пломбы):
                      </p>
                      <ul class="article-faq__list">
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Одноканальный зуб</span>
                            <span>от 7.300 ₽</span>
                          </a>
                        </li>
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Двухканальный зуб</span>
                            <span>от 9.300 ₽</span>
                          </a>
                        </li>
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Трехканальный зуб</span>
                            <span>от 11.800 ₽</span>
                          </a>
                        </li>
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Четырехканальный зуб</span>
                            <span>от 14.800 ₽</span>
                          </a>
                        </li>
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Пятиканальный зуб</span>
                            <span>от 16.300 ₽</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </article>
              <article class="article-faq" data-toggle>
                <div class="article-faq__header" data-toggle-switch>
                  <p class="article-faq__title">
                    Терапевтическая стоматология
                  </p>
                  <button class="article-faq__button">
                    <svg class="article-faq__icon">
                      <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__body">
                  <div class="article-faq__wrapper">
                    <div class="article-faq__element">
                      <p class="article-faq__head">
                        Лечение ранее не леченых корневых каналов зубов (стоимость указана без Rg исследования и пломбы):
                      </p>
                      <ul class="article-faq__list">
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Одноканальный зуб</span>
                            <span>от 7.300 ₽</span>
                          </a>
                        </li>
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Двухканальный зуб</span>
                            <span>от 9.300 ₽</span>
                          </a>
                        </li>
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Трехканальный зуб</span>
                            <span>от 11.800 ₽</span>
                          </a>
                        </li>
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Четырехканальный зуб</span>
                            <span>от 14.800 ₽</span>
                          </a>
                        </li>
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Пятиканальный зуб</span>
                            <span>от 16.300 ₽</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </article>
              <article class="article-faq" data-toggle>
                <div class="article-faq__header" data-toggle-switch>
                  <p class="article-faq__title">
                    Терапевтическая стоматология
                  </p>
                  <button class="article-faq__button">
                    <svg class="article-faq__icon">
                      <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__body">
                  <div class="article-faq__wrapper">
                    <div class="article-faq__element">
                      <p class="article-faq__head">
                        Лечение ранее не леченых корневых каналов зубов (стоимость указана без Rg исследования и пломбы):
                      </p>
                      <ul class="article-faq__list">
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Одноканальный зуб</span>
                            <span>от 7.300 ₽</span>
                          </a>
                        </li>
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Двухканальный зуб</span>
                            <span>от 9.300 ₽</span>
                          </a>
                        </li>
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Трехканальный зуб</span>
                            <span>от 11.800 ₽</span>
                          </a>
                        </li>
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Четырехканальный зуб</span>
                            <span>от 14.800 ₽</span>
                          </a>
                        </li>
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Пятиканальный зуб</span>
                            <span>от 16.300 ₽</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </article>
              <article class="article-faq" data-toggle>
                <div class="article-faq__header" data-toggle-switch>
                  <p class="article-faq__title">
                    Терапевтическая стоматология
                  </p>
                  <button class="article-faq__button">
                    <svg class="article-faq__icon">
                      <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__body">
                  <div class="article-faq__wrapper">
                    <div class="article-faq__element">
                      <p class="article-faq__head">
                        Лечение ранее не леченых корневых каналов зубов (стоимость указана без Rg исследования и пломбы):
                      </p>
                      <ul class="article-faq__list">
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Одноканальный зуб</span>
                            <span>от 7.300 ₽</span>
                          </a>
                        </li>
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Двухканальный зуб</span>
                            <span>от 9.300 ₽</span>
                          </a>
                        </li>
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Трехканальный зуб</span>
                            <span>от 11.800 ₽</span>
                          </a>
                        </li>
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Четырехканальный зуб</span>
                            <span>от 14.800 ₽</span>
                          </a>
                        </li>
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Пятиканальный зуб</span>
                            <span>от 16.300 ₽</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </article>
              <article class="article-faq" data-toggle>
                <div class="article-faq__header" data-toggle-switch>
                  <p class="article-faq__title">
                    Терапевтическая стоматология
                  </p>
                  <button class="article-faq__button">
                    <svg class="article-faq__icon">
                      <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                    </svg>
                  </button>
                </div>
                <div class="article-faq__body">
                  <div class="article-faq__wrapper">
                    <div class="article-faq__element">
                      <p class="article-faq__head">
                        Лечение ранее не леченых корневых каналов зубов (стоимость указана без Rg исследования и пломбы):
                      </p>
                      <ul class="article-faq__list">
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Одноканальный зуб</span>
                            <span>от 7.300 ₽</span>
                          </a>
                        </li>
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Двухканальный зуб</span>
                            <span>от 9.300 ₽</span>
                          </a>
                        </li>
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Трехканальный зуб</span>
                            <span>от 11.800 ₽</span>
                          </a>
                        </li>
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Четырехканальный зуб</span>
                            <span>от 14.800 ₽</span>
                          </a>
                        </li>
                        <li class="article-faq__item">
                          <a href="#" class="article-faq__link">
                            <span>Пятиканальный зуб</span>
                            <span>от 16.300 ₽</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%= htmlWebpackPlugin.options.sectionFooter %>
  <%= htmlWebpackPlugin.options.temp %>
</div>
</body>
</html>
