<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="main-container">
  <%= htmlWebpackPlugin.options.sectionHeader %>
  <main class="main">
    <section class="section">
      <div class="container">
        <div class="breadcrumbs">
          <a class="breadcrumbs__link" href="./">Главная</a>
          <span class="breadcrumbs__curr-page">Услуги</span>
        </div>
      </div>
    </section>
    <section class="section mb-75">
      <div class="container">
        <div class="services-list">
          <div class="services-list__item">
            <a href="#" class="services-list__title">Ортопедия (протезирование)</a>
            <ul class="services-list__list">
              <li class="services-list__element">
                <a href="#" class="services-list__link">Несъемное протезирование:</a>
              </li>
              <li class="services-list__element">
                <a href="#" class="services-list__link">Металлокерамика</a>
              </li>
              <li class="services-list__element">
                <a href="#" class="services-list__link">Безметалловые конструкции (e.max и диоксид циркония)</a>
              </li>
              <li class="services-list__element">
                <a href="#" class="services-list__link">виниры e.max</a>
              </li>
              <li class="services-list__element">
                <a href="#" class="services-list__link">конструкции на имплантах (одиночные коронки и мостовидные конструкции)</a>
              </li>
              <li class="services-list__element"
              ><a href="#" class="services-list__link">коронки временные ПММА</a>
              </li>
            </ul>
          </div>
          <div class="services-list__item">
            <a href="#" class="services-list__title">Ортопедия (протезирование)</a>
            <ul class="services-list__list">
              <li class="services-list__element">
                <a href="#" class="services-list__link">Несъемное протезирование:</a>
              </li>
              <li class="services-list__element">
                <a href="#" class="services-list__link">Металлокерамика</a>
              </li>
              <li class="services-list__element">
                <a href="#" class="services-list__link">Безметалловые конструкции (e.max и диоксид циркония)</a>
              </li>
              <li class="services-list__element">
                <a href="#" class="services-list__link">виниры e.max</a>
              </li>
              <li class="services-list__element">
                <a href="#" class="services-list__link">конструкции на имплантах (одиночные коронки и мостовидные конструкции)</a>
              </li>
              <li class="services-list__element"
              ><a href="#" class="services-list__link">коронки временные ПММА</a>
              </li>
            </ul>
          </div>
          <div class="services-list__item">
            <a href="#" class="services-list__title">Ортопедия (протезирование)</a>
            <ul class="services-list__list">
              <li class="services-list__element">
                <a href="#" class="services-list__link">Несъемное протезирование:</a>
              </li>
              <li class="services-list__element">
                <a href="#" class="services-list__link">Металлокерамика</a>
              </li>
              <li class="services-list__element">
                <a href="#" class="services-list__link">Безметалловые конструкции (e.max и диоксид циркония)</a>
              </li>
              <li class="services-list__element">
                <a href="#" class="services-list__link">виниры e.max</a>
              </li>
              <li class="services-list__element">
                <a href="#" class="services-list__link">конструкции на имплантах (одиночные коронки и мостовидные конструкции)</a>
              </li>
              <li class="services-list__element"
              ><a href="#" class="services-list__link">коронки временные ПММА</a>
              </li>
            </ul>
          </div>
          <div class="services-list__item">
            <a href="#" class="services-list__title">Ортопедия (протезирование)</a>
            <ul class="services-list__list">
              <li class="services-list__element">
                <a href="#" class="services-list__link">Несъемное протезирование:</a>
              </li>
              <li class="services-list__element">
                <a href="#" class="services-list__link">Металлокерамика</a>
              </li>
              <li class="services-list__element">
                <a href="#" class="services-list__link">Безметалловые конструкции (e.max и диоксид циркония)</a>
              </li>
              <li class="services-list__element">
                <a href="#" class="services-list__link">виниры e.max</a>
              </li>
              <li class="services-list__element">
                <a href="#" class="services-list__link">конструкции на имплантах (одиночные коронки и мостовидные конструкции)</a>
              </li>
              <li class="services-list__element"
              ><a href="#" class="services-list__link">коронки временные ПММА</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%= htmlWebpackPlugin.options.sectionFooter %>
  <%= htmlWebpackPlugin.options.temp %>
</div>
</body>
</html>