<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="main-container">
  <%= htmlWebpackPlugin.options.sectionHeader %>
  <main class="main">
    <section class="section">
      <div class="container">
        <div class="breadcrumbs">
          <a class="breadcrumbs__link" href="./">Главная</a>
          <a class="breadcrumbs__link" href="./">Акции</a>
          <span class="breadcrumbs__curr-page">Деталка</span>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="promo mb-50">
          <div class="promo__info">
            <h2 class="promo__title">Бесплатная консультация ортодонта для взрослых и детей</h2>
            <p class="promo__text">
              В консультативно-диагностическом медицинском центре предусмотрено все необходимое для проведения
              современных высокоточных медицинских диагностических исследований.
            </p>
            <div class="promo__footer">
              <button class="button">Записаться</button>
              <p class="promo__detail">
                До конца акции<br />
                <span>88 дней</span>
              </p>
            </div>
          </div>
          <picture class="promo__picture">
            <img src="./assets/images/tooth.png" alt="">
          </picture>
        </div>
        <div class="columns mb-100">
          <div class="columns__col--8 columns__col-mob--12">
            <div class="editor editor--custom">
              <h2>Условия акции</h2>
              <span>Скидка 25% предоставляется в отведенное время:</span>
              <ul>
                <li>
                  В будние дни – с 13 до 15 часов
                </li>
                <li>
                  В выходные дни – с 19 до 21 часов
                </li>
              </ul>
              <p>
                Воспользуйтесь нашим специальным предложением уже сегодня!
              
              </p>
              <p>
                Акция распространяется на амбулаторные услуги для пациентов старше 18 лет (кроме лабораторных услуг,
                комплексных услуг, услуг отделения вспомогательных репродуктивных технологий и услуг стоматологии,
                ксенонотерапии, МРТ, сомнологии, эпилептологии, косметологии, услуг отделений Premium, услуг центра
                офтальмологии).
              </p>
              <p>
                <b>Внимание!</b><br />
                Скидки и специальные условия не суммируются с другими скидками и специальными предложениями.
              </p>
              <p>
                <b>Подробную информацию об условиях проведения акции, о специалистах и услугах, участвующих в акций,
                  уточняйте по телефону <a href="tel:74012519000">+7 (4012) 519-000.</a></b>
              </p>
              <h2>Мы успешно устраняем проблемы, связанные с:</h2>
              <ol>
                <li>
                  Нарушением формы зубов
                </li>
                <li>
                  Неправильным положением зубов в зубном ряду
                </li>
                <li>
                  Неправильным соотношением челюстей
                </li>
              </ol>
              <h2>Заголовок:</h2>
              <ol>
                <li>
                  Нарушением формы зубов
                </li>
                <li>
                  Неправильным соотношением челюстей
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section mb-110 mbm-100">
      <div class="container">
        <h2 class="title title--page mb-40">Другие акции</h2>
        <div class="slider slider--about mb-40" data-slider data-slider-slides="2">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a class="card-news card-news--stock" style="background-color: #F2F4F6" href="#">
                  <div class="card-news__content">
                    <p class="card-news__title">Экономим по выходным!</p>
                    <p class="fw--300 mb-60">
                      Комплексные лабораторные исследования <br><br>
                      со скидкой до 50%
                    </p>
                    <span class="more">
                      <span class="more__text">читать</span>
                      <span class="more__btn">
                        <svg class="more__icon">
                          <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-min"></use>
                        </svg>
                      </span>
                    </span>
                  </div>
                  <picture class="card-news__picture">
                    <img src="./assets/images/stock-1.png" alt="">
                  </picture>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="card-news card-news--stock" style="background-color: #F2F4F6" href="#">
                  <div class="card-news__content">
                    <p class="card-news__title">Экономим по выходным!</p>
                    <p class="fw--300 mb-60">
                      Комплексные лабораторные исследования <br><br>
                      со скидкой до 50%
                    </p>
                    <span class="more">
                      <span class="more__text">читать</span>
                      <span class="more__btn">
                        <svg class="more__icon">
                          <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-min"></use>
                        </svg>
                      </span>
                    </span>
                  </div>
                  <picture class="card-news__picture">
                    <img src="./assets/images/stock-2.png" alt="">
                  </picture>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="card-news card-news--stock" style="background-color: #F2F4F6" href="#">
                  <div class="card-news__content">
                    <p class="card-news__title">Экономим по выходным!</p>
                    <p class="fw--300 mb-60">
                      Комплексные лабораторные исследования <br><br>
                      со скидкой до 50%
                    </p>
                    <span class="more">
                      <span class="more__text">читать</span>
                      <span class="more__btn">
                        <svg class="more__icon">
                          <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-min"></use>
                        </svg>
                      </span>
                    </span>
                  </div>
                  <picture class="card-news__picture">
                    <img src="https://mykaleidoscope.ru/x/uploads/posts/2022-10/1666364979_14-mykaleidoscope-ru-p-krasivie-peizazhi-prirodi-oboi-17.jpg" alt="">
                  </picture>
                </a>
              </div>
            </div>
          </div>
          <div class="slider__controls">
            <button class="slider__button slider__button--gray slider__button--prev" type="button" data-slider-prev>
              <svg>
                <use xlink:href="assets/sprite/sprite.svg#icon-arrow"></use>
              </svg>
            </button>
            <button class="slider__button slider__button--gray slider__button--next" type="button" data-slider-next>
              <svg>
                <use xlink:href="assets/sprite/sprite.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
        <a href="#" class="button centered">
          <svg>
             <use xlink:href="./assets/sprite/sprite.svg#icon-stock"></use>
          </svg>
          <span>Все акции</span>
        </a>
      </div>
    </section>
  </main>
  <%= htmlWebpackPlugin.options.sectionFooter %>
  <%= htmlWebpackPlugin.options.temp %>
</div>
</body>
</html>
